h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    margin: 0 auto;
    width: 90%;
}

h2,
h3,
p,
a {
    font-family: "Saira", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 10px;
    background-color: aqua;
    width: min-content;
    margin: 10px auto;
    border-radius: 50px;
}